.container{
    display: grid;
    width: 15rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.cell{
    border: 1px solid #000;
    height: 5rem;
    width: 5rem;
}

.active{
    background-color: cadetblue;
}